html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-black: #202020;
    --dark-black: #151414;
    --yellow: #f4bd49;
    --maroon: #502721;
    --white: #ffffff;
    --grey: #5e5e5e;
}

/* disable element selection */
::selection {
    color: none;
    background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

/* end */

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--yellow));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--maroon));
}

/* end */

/* hr */
hr {
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    height: 1px;
    width: 100%;
}

/* end */

/* header */
/* navbar */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-black);
    color: var(--white);
    height: 50px;
    padding: 1em;
    font-family: 'Maven Pro', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu li a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* end */

/* background */
.background {
    position: relative;
    width: 100%;
}

.animate__animated {
    animation-duration: 4s;
}

.background-img-horizontal {
    width: 100%;
    filter: brightness(.4);
}

.background-img-vertical {
    display: none;
}

.overlay {
    position: absolute;
    top: 29vw;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.overlay h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 5vw;
    text-align: center;
}

.overlay p {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 1.5vw;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button a {
    position: relative;
    width: 12vw;
    height: 4.5vw;
    text-align: center;
    line-height: 4.4vw;
    margin: 1vw;
    text-transform: uppercase;
    background-color: var(--yellow);
    border-radius: 6px;
    color: #fff;
    font-size: 1.6vw;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Maven Pro', sans-serif;
}

.button a span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100000;
    transition: 0s ease-in;
}

.button a:hover span {
    transition: 0.4s ease-in;
    transform: translateY(-100%);
}

.button a:before {
    content: '';
    position: absolute;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background-color: var(--dark-black);
    border-radius: 50%;
    transition: 0.4s ease-in;
}

.button a:hover:before {
    bottom: -150px;
}

.button a:nth-child(2):before {
    bottom: 60px;
}

.button a:nth-child(2):hover:before {
    bottom: -40px;
}

/* end */
/* end */

/* contents */
.container {
    display: block;
    margin: auto;
    width: 90%;
}

/* about us */
.about-us {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-us-img-vertical {
    display: block;
    width: 350px;
    border-radius: 10px;
}

.about-us-img-horizontal {
    display: none;
}

.about-us-text {
    width: 50vw;
    text-align: left;
    float: right;
    margin-top: -510px;
}

.about-us-text h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 22px;
    color: var(--yellow);
}

.about-us-text h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 54px;
}

.about-us-text h1 span {
    color: var(--yellow);
}

.about-us-text p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2vw;
    line-height: 32px;
    color: var(--light-black);
}

/* end */

/* our edge */
.our-edge {
    margin-top: 100px;
    margin-bottom: 200px;
}

.our-edge h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 54px;
    text-align: center;
}

.our-edge h1 span {
    color: var(--yellow);
}

.chain-list {
    margin-top: 100px;
    margin-bottom: 100px;
}

.chain-list hr {
    position: absolute;
    transform: rotate(90deg);
    margin-top: -120px;
    margin-left: -149px;
    background-color: var(--light-black);
    height: 1px;
    width: 400px;
}

.chain-list span {
    height: 100px;
    width: 100px;
    background-color: var(--light-black);
    border-radius: 50%;
    display: inline-block;
}

.chain-list span img {
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
    z-index: 99;
    width: 50px;
}

.chain-list div:nth-child(1) {
    width: 100px;
}

.chain-list div:nth-child(1) span {
    margin-bottom: 250px;
}

.chain-list div:nth-child(2) {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: -1770px;
}

.chain-list div:nth-child(2) span {
    margin-bottom: 250px;
}

.list-items {
    position: absolute;
    width: 250px;
    margin-top: -1510px;
    margin-left: 12vw;
}

.two {
    position: absolute;
    width: 300px;
    margin-top: -1510px;
    margin-left: 52.5vw;
}

.list-items div:nth-child(2) {
    margin-top: 212px;
}

.list-items div:nth-child(3) {
    margin-top: 160px;
}

.list-items div:nth-child(4) {
    margin-top: 175px;
}

.two div:nth-child(2) {
    margin-top: 120px;
}

.two div:nth-child(3) {
    margin-top: 108px;
}

.list-items h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
}

.list-items p {
    font-family: 'Maven Pro', sans-serif;
    margin-top: 50px;
}

/* end */
/* products */
.products {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.products h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
}

.products h1 span {
    color: var(--yellow);
}

.products .pro {
    background-color: var(--light-black);
    border: 1px solid var(--light-black);
    border-radius: 10px;
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 15px;
}

.products .pro img {
    width: 100.7%;
    margin-left: -1px;
    margin-top: -0.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.products .pro h2 {
    font-family: 'Maven Pro', sans-serif;
    color: var(--white);
}


/* end */
/* end */

/* media queries */
@media (max-width: 1100px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 82px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu li a {
        margin-top: 10px;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media(max-width: 1050px) {
    .container {
        display: block;
        margin: auto;
        width: 90%;
    }

    .about-us {
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .about-us-img-vertical {
        display: none;
    }

    .about-us-img-horizontal {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    .about-us-text {
        margin-top: 0px;
        width: 100%;
        margin-bottom: 100px;
    }

    .about-us-text h3 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 20px;
        color: var(--yellow);
    }

    .about-us-text h1 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 50px;
    }

    .about-us-text h1 span {
        color: var(--yellow);
    }

    .about-us-text p {
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }
}

@media(max-width: 1000px) {
    .our-edge {
        margin-bottom: 800px;
    }

    .chain-list span {
        height: 50px;
        width: 50px;
        background-color: var(--light-black);
        border-radius: 50%;
        display: inline-block;
    }

    .chain-list hr {
        position: absolute;
        transform: rotate(90deg);
        margin-top: -127px;
        margin-left: -149px;
        background-color: var(--light-black);
        height: 1px;
        width: 350px;
    }

    .chain-list span img {
        position: absolute;
        margin-left: 10px;
        margin-top: 8px;
        z-index: 99;
        width: 30px;
    }

    .list-items {
        position: absolute;
        width: 250px;
        margin-top: -1642px;
        margin-left: 80px;
    }

    .list-items div:nth-child(2) {
        margin-top: 163px;
    }

    .list-items div:nth-child(3) {
        margin-top: 107px;
    }

    .list-items div:nth-child(4) {
        margin-top: 128px;
    }

    .chain-list div:nth-child(2) {
        position: absolute;
        width: 100px;
        margin-top: -304px;
    }

    .two {
        position: absolute;
        width: 250px;
        margin-top: -455px;
        margin-left: 80px;
    }

    .two div:nth-child(1) {
        margin-top: 54px;
    }

    .two div:nth-child(2) {
        margin-top: -6px;
    }

    .two div:nth-child(3) {
        margin-top: 32px;
    }
}

@media(max-width: 700px) {
    .background-img-horizontal {
        display: none;
    }

    .background-img-vertical {
        display: block;
        width: 100%;
        filter: brightness(.4);
    }

    .overlay {
        top: 45%;
        width: 81vw;
    }

    .overlay h1 {
        font-size: 11vw;
    }

    .overlay p {
        font-size: 4vw;
    }

    .button a {
        width: 20vw;
        height: 7vw;
        line-height: 7vw;
        font-size: 2.5vw;
    }
}

@media(max-width: 450px) {
    .background-img-vertical {
        width: 100%;
        height: 700px;
    }
}

/* end */